.logged {
  display: inline-block;
  margin-right: 5px;
}

.toast {
  font-size: 16px;
  font-style: italic;
  display: flex;
  align-items: center;
}

.toast p {
  padding: 10px;
  border-radius: 10px;
}

.toast .success {
  border: 3px solid #22bb33;
  color: #22bb33;
}

.toast .error {
  border: 3px solid #bb2124;
  color: #bb2124;
}

article {
  margin: 15px 0;
  border: 1px solid grey;
  border-radius: 10px;
  padding: 15px;
  max-width: 500px;
}
